.input {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.input input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: #5bb882 2px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input label {
  font-family: "Roboto", sans-serif;
  color: #3a3949;
  font-size: 15px;
  margin-bottom: 5px;
}

.input textarea {
  width: 88%;
  height: 30vh;
  resize: none;
  border-radius: 5px;
  border: #5bb882 2px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}
