@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Slab:wght@200;300;500&family=Roboto:wght@100;400;700&display=swap");

.container {
  font-family: "Roboto", sans-serif;
  color: #3a3949;
  font-size: 18px;
}

.container input {
  width: 20%;
  height: 20px;
  border-radius: 5px;
  border: #5bb882 2px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
