.container {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80vh;
    background-color: #fff;
  }
  
  .historyContainer {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x:hidden
  }
  .textEditor{
    width: 100%;
    height: 90%;
  }

  .title {
    display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  color: #3a3949;
  font-size: 20px;
  padding: 10px;
    }
  
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: auto;
    }
  
    .button {
      display: flex;
      width: 50%;
      justify-content: space-between;
      padding-bottom: 20px;
      margin-top: 20px;
    }
  
    .editButton {
      cursor: pointer;
      padding: 8px;
      width: 150px;
      background-color: #2563eb;
      color: white;
      border: none;
      border-radius: 8px;
      font-family: "Roboto Slab", sans-serif;
    }

    .editButton:hover {
      background-color: #487cee;
    }
  
    .cancelButton {
      cursor: pointer;
      padding: 8px;
      width: 150px;
      background-color: #fff;
      color: #fa3131;
      border: 1px solid #fa3131;
      border-radius: 8px;
      font-family: "Roboto Slab", sans-serif;
    }

    .cancelButton:hover{
      background-color: #fa3131;
      color: white
    }

    @media (max-width: 1023px) {
      .formContainer {
        width: 100%;
        height: 100%
      }
      .button {
        width: 80%
      }
      .editButton {
        width: 100px
      }
      .cancelButton {
        width: 100px
      }
    }